@model IEnumerable<CrmCoreLite.Areas.Units.Models.Unit>

@{
    ViewBag.Title = "Index";
}

<h2>Units</h2>


<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
        </div>
    </div>
    <div class="col-lg-8">
        <div class="input-group pull-right">
            @using (Html.BeginForm("Index", "Units", new { area = "Products" }, FormMethod.Get, new { @class = "navbar-form navbar-left" }))
            {
                <div class="form-group">
                    @Html.DropDownList("uStatus", null, "Select Unit Status", htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.DropDownList("uType", null, "Select Unit Type",  htmlAttributes: new { @class = "form-control" }  )
                </div>
                <div class="form-group">
                    @Html.DropDownList("vType", null, "Select View Type", htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.TextBox("UnitNo", null, new { @class = "form-control", @placeholder = "Unit No" })
                </div>
                <button type="submit" value="Submit" class="btn btn-default ">Submit</button>
            }
        </div>


    </div>
</div>


<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.UnitStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uViewType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balcony)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalListPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransferMiscFees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalContractPrice)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
      
        <td>
            @Html.DisplayFor(modelItem => item.UnitStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uViewType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balcony)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalListPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransferMiscFees)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalContractPrice)
        </td>
      
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
