@model CrmCoreLite.Areas.Billings.Models.Bill

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<div>
    <h4>Bill</h4>
    <hr />

    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body">

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.BillCode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BillCode)
                </dd>
                <dt>
                    Customer
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Customer.FullName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BillNo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BillNo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Order.OrderNo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Order.OrderNo)
                </dd>



                <dt>
                    @Html.DisplayNameFor(model => model.BillAmount)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BillAmount)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BillRemarks)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BillRemarks)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BillDue)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BillDue)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateCreated)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BillStatus)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BillStatus)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PaymentClass)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PaymentClass)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PaymentAmount)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PaymentAmount)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PaymentCreated)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PaymentCreated)
                </dd>

            </dl>

        </div>
    </div>


    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

