@model CrmCoreLite.Areas.Units.Models.Basement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Basement</h4>
    <hr />

    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body">

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ProductNo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProductNo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UnitNo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UnitNo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BaseNo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BaseNo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UnitArea)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UnitArea)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TotalContractPrice)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TotalContractPrice)
                </dd>

            </dl>

        </div>
    </div>


    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
